.container{
    margin: 0px;
    padding: 0px;
    width: 100%;

}

/* Clear-Fix */
.clear-fix{
    clear: both;
}
/* Clear-Fix */

/* UP-BAR */
.up-bar{
    width: auto;
    float: right;
}

.up-bar > ul {
    list-style-type: none;
}

.up-bar >ul >li {
    float: left;
    margin-left: 25px;
}

.up-bar > ul > li > input {
    background-color: blue;
    color: white;
    width: 150px;
    height: 40px;
    border-style: none;
    border-radius: 8px;
}

.up-bar > ul > li > a {
    font-size: 19px;
    text-decoration: none;
    color: rgb(65, 64, 64);
}

.up-bar > ul > li > a:hover {
    text-decoration: underline;
}
/* UP-BAR */


/* Logo */
.logo{
    width: auto;
    text-align: center;
    margin-top: 12%;
}
/* Logo */

/* Search-Box */
.search-box{
    width: auto;
    text-align: center;
}
.search-box > input {
    height: 30px;
    border-color: rgb(228, 228, 228);
    border-style:solid;
    font-size: 15px;
    border-radius: 10px;
}

/* Search-Box */

/* Buttons */
.buttons{
    margin: 10px;
    text-align: center;
}

.buttons > input {
    background-color: rgb(233, 232, 232);
    color: rgb(72, 71, 71);
    width: 150px;
    height: 40px;
    border-style: none;
    border-radius: 8px;
}
/* Buttons */

/* Footer */
.footer{
    float: left;
    margin-top: 13%;
    padding: auto;
    background-color: rgb(239, 238, 238);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.first-ul{
    list-style-type: none;
    margin-left: -25px;
}
.first-ul > li {
    float: left;
    margin-left: 10px;
}
.first-ul > li > a{
    text-decoration: none;
    color: gray;

}

.footer > p {
    text-align: center;
    float: left;
    margin-left: 20%;
    margin-top: 0px;
}
.footer > p > a{
    text-decoration: none;
    color: gray;
}

.last-ul{
    list-style-type: none;

}
.last-ul > li {
    float: right;
    margin-right: 10px;
}
.last-ul > li > a{
    text-decoration: none;
    color: gray;
}
/* Footer */