body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cont {
    text-align: left;
  }

.list-type{
    list-style-type: none;
}

.list-type li{
    display: inline-block;
    padding: 5px;
}

header h1{
    color: red;
}

#sayfa-baslik{
    color: blueviolet;
    text-align: center;
}

#m-alet-baslik{
    color:goldenrod
}

#m-aletleri{
    list-style-type: none;
}