/*
    CSS Selector
    Class = .intro
    !-------------------------------------------------
    Id = #site-header
    !-------------------------------------------------
    .class.class = .name1.name2
    ayni anda kullanilmalari gerekiyor, ikinci class her zaman birinci classdan
    sonra gelmelidir bu bir elementte sira ile, ul-ol>li yapisinda ise
    ul-ol yapisina birinci class, li elementine ikinci class gelmelidir
    !-------------------------------------------------
    element:last-child
    ul-ol>li gibi yapilarda birden fazla alt element mevcuttur
    bunlara child denebilir bu nedenle last yani en sonda olan elemente
    class vermeden bicimlendirme yapilabilir
    !-------------------------------------------------
    element:first-child
    ul-ol>li gibi yapilarda birden fazla alt element mevcuttur
    bunlara child denebilir bu nedenle first yani en basta olan elemente
    class vermeden bicimlendirme yapilabilir
    !-------------------------------------------------
    element:nth-child(x)-(odd)-(even)-(Xn)-(Xn+y)
    ul-ol>li gibi yapilarda birden fazla alt element mevcuttur
    bunlara child denebilir bununla nth kullanarak ister istedigimiz siradaki childi
    ister odd kullanarak sadece tek sayili siralari
    ister even kullanarak sadece cift sayili siralari
    ister her Xn ile her X. kez olan elemani
    ister Xn+y ile her X. kez olan eleman +y olan elemani bicimlendirir
    !-------------------------------------------------
    element[class-id-href$="...."]
    element icerisinde bulunan class-id-href gibi ayirt edici ozellikleri olan
    elementlerin sonu "...." ile belirtilen ile ayni ise bicimlendirir
    !-------------------------------------------------
    element[class-id-href*="...."]
    element icerisinde bulunan class-id-href gibi ayirt edici ozellikleri olan
    elementlerin basi "...." ile belirtilen ile ayni ise bicimlendirir
    !-------------------------------------------------
    element.class-adi
    eger belirtilen element ile class adi uyusuyorsa bu sekilde bicimlendirir
    !-------------------------------------------------
    element > alt element
    eger bir elementin icerisinde alt element varsa bu sekilde bicimlendirilebilir
    !-------------------------------------------------
    element > alt element > alt elementin alt elementi
    bir nevi torun islevi gorur 3 element saglanmali ve bu sekilde bicimlendirebilir
*/

.color-red{
    color: red;
}

.color-blue.fw-bold{
    color: blue;
    font-weight: bold;
}
/*
    Metnin color ozelligi blue olsun ama fw ozelligi bold ise
*/

ul > li:first-child{
    color:blueviolet
}
/*
    Bulunan tum ul>li yapisinda ilk elemanin ozelliklerini bicimlendirir
*/

ul > li:last-child{
    color: tomato;
}
/*
    Bulunan tum ul>li yapisinda son elemanin ozelliklerini bicimlendirir
*/

li:nth-child(2){
    color: burlywood;
}
/*
    ul>li yapisinda 2. sirada olan li elementinin ozelliklerini bicimlendirir
*/

li:nth-child(odd){
    color: red;
}
/*
    tek sayili sirada olanlari bicimlendirir
*/

li:nth-child(even){
    color: blue;
}
/*
    cift sayili sirada olanlari bicimlendirir
*/

li:nth-child(3n){
    background-color: yellow;
}
/*
    her 3 elemanda bir bu bicimlendirmeyi yapar
*/
li:nth-child(3n+2){
    background-color: darkblue;
}
/*
    her 3 eleman +1. elemani bicimlendirir
*/

li[class$="test"]{
    color:red;
    background-color: black;
}
/*
    class ismi test ile biten butun elementlere bu bicimlendirmeyi yapar
*/

li[class*="deneme"]{
    color:blue;
    background-color: burlywood;
}
/*
    class ismi deneme ile baslayan butun elementlere bu bicimlendirmeyi yapar
*/

p.darkorchid{
    color: darkorchid;
}
/*
    belirtilen elementin class ismi eger ayni ise bu bicimlendirmeyi yapar
*/

p > span{
    color:orange;
    background-color: black;
}
/*
    p elementi icerisinde bulunan span elementini bicimlendirir
*/
p > span > b{
    color:red;
    background-color: darkcyan;
}
/*
    p elementi icerisinde bulunan span elementinin icerisin b elementi var ise
    sadece b elementinin oldugu yeri bu sekilde bicimlendirir
*/